/* 这个css文件中我们要放就是css的初始化代码 */
html,body,ul,li,p,h1,h2,h3,form,img,input,dl,dt,dd {
    margin:0;
    padding:0;
}
img {
    border: none;
}
input,button{
    border:none;
    outline:none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}
input {
    padding:0;
}
body {
    font: normal normal 12px "微软雅黑";
    color: #4c4c4c;
    background-color: #f6f6f6;
}
.fl	{
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom: 1;
}
h1,h2,h3,b,strong {
    font-weight: normal;
}